@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}



:root {
    --cor0: #b8eedd;
    --cor1: #a0f089;
    --cor2: #2ef145;
    --cor3: #2e8652;
    --cor4: #355a08;

    --fonte-padrao: Arial,Verdana, Helvetica, sans-serif;
    --fonte-destaque:  'Castoro Titling', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    text-indent: 25px;
    font-size: 1em;
    line-height: 1.5em;
}

main p {
    margin: 20px 3px;
    text-align: justify;
}

main strong {
    color: var(--cor3);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: var(--cor1);
    padding: 3px 1px;

}

main a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    background-color: var(--cor3);
    min-height: 150px;
    text-align: center;
     padding-top: 28px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
    font-size: 2.8em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.76);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.507);
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.562);
}

nav > a {
    color: rgba(34, 13, 13, 0.842);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor3);
}
main {
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    min-width: 300px;
    max-width: 800px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor4);
    font-weight: normal;
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor3);
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 12px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
    
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 25px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 90%;
}


aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.555);
}

aside > h3 {
    background-color: var(--cor3);
    padding: 8px;
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 8px 8px 0px 0px;
}    

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor2);
}

